{% extends "base.html" %}

{% block title %}
  PARSE
{% endblock %}

{% block content %}
  <!-- Projects Section -->
  <section id="parse" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="/static/img/bg-masthead.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>ФОРМА ДЛЯ ICO ПАРСИНГА</h4>
            <p class="text-black-50 mb-0">Заполните форму и получите данные о криптоволютах ICO!</p>
            <br>
<!--                <form action="#result" method="post" id="numberofpages">-->
<!--                    {% csrf_token %}-->
<!--                    <input class="form-control" type="number" name="num_pages" placeholder="введите число страниц от 1 до {{number_of_pages}}" min="1" max="{{number_of_pages}}">-->
<!--                    <br>-->
<!--                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Парсить</button>-->
<!--&lt;!&ndash;                    <input type="submit" value="Парсить" class="btn btn-primary">&ndash;&gt;-->
<!--                </form>-->

                <form method="post" id="contactForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Парсить!</button>
                </form>

          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="/static/img/demo-image-01.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">PARSE ICOS : MAKE MONEY</h4>
                <p class="mb-0 text-white-50">Покори эвересты финансовой свободы с ...</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="/static/img/demo-image-02.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">ICOPARSER</h4>
                <p class="mb-0 text-white-50">ICOпарсер - твой хомут для золотого тельца!</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}
